{% extends "default.html" %}
{% block content %}
    <div id="dashmain">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Price</th>
                        <th>OutDept</th>
                        <th>OutArrival</th>
                        <th>OutCarrier</th>
                        <th>InDept</th>
                        <th>InArrival</th>                        
                        <th>InCarrier</th>
                    </tr>
                </thead>
                {% for r in result %}
                    <tr>
                        <td>{{ r.Price }}</td>
                        <td>{{ r.OutboundLeg.Departure }}</td>
                        <td>{{ r.OutboundLeg.Arrival }}</td>
                        <td>{{ r.OutboundLeg.Carriers[0] }}</td>
                        <td>{{ r.InboundLeg.Departure }}</td>
                        <td>{{ r.InboundLeg.Arrival }}</td>                        
                        <td>{{ r.InboundLeg.Carriers[0] }}</td>
                    </tr>
                {% endfor %}                
            </table>
        </div>
    </div>
{% endblock %}
